<div class="max-w-3xl mx-auto flex flex-col mt-8 px-4 mb-8">
  <a href="/" class="text-xl font-light"
    ><strong class="font-bold">Miguel</strong> González</a
  >
  <nav class="mt-6">
    <ul class="font-semibold text-xs flex gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/publications">Publications</a></li>
      <li>
        <a
          href="https://www.youtube.com/@MiguelPuntoEs"
          target="_blank"
          rel="noopener noreferrer">YouTube</a
        >
      </li>
    </ul>
  </nav>
  <hr class="border-gray-300 mt-4" />
</div>
