---
import "../styles/global.css";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---

<Layout {title} {description}>
  <main class="prose max-w-3xl mx-auto px-4">
    <article class="mt-8">
      <h1>{title}</h1>
      <slot />
    </article>
  </main>
</Layout>
